<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <link rel="stylesheet" href="/note.css">
</head>
<body>
        <header>Here is your post</header>
        
    <div>
        <h2>id : <%= note.id %></h2>
        <h2>content : <%= note.content %></h2>
    </div>
</body>
</html>